/* styles.css */
* {
    box-sizing: border-box
}

body {
    background-color: #222;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    margin: 0 auto;
}

#header,
#container {
    margin: 10px auto;
}

#container,
#header {
    width: 800px;
}

#container {
    height: 800px;
    background-color: #292929;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-shrink: 1;
    flex-grow: 1;
}

#header {
    padding: 20px 0;
    display: flex;
    justify-content: flex-start;
    align-content: center;
}

#header > span {
    padding: 10px 20px;
    color: darkgray;
    font-size: larger;
}

#header-btn {
    background-color: transparent;
    padding: 10px 30px;
    color: orangered;
    font-size: larger;
    border: 3px solid orangered;
    border-radius: 30px;
    text-transform: uppercase;
}

.grid-cell {
    width: auto;
    height: auto;
    border: thin solid #222;
}

.grid-cell:hover {
    background-color: rgb(240, 201, 128);
}