/* styles.css */

body,
#container {
    margin: 0 auto;
}

#container {
    width: 960px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6px;
}

.grid-cell {
    border: thin solid lightgray;
    height: 50px;
    width: 50px;
}

.grid-cell:hover {
    background-color: rgb(240, 201, 128);
}